
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;}
    
.contact-container {
    display: flex;
    flex-wrap: wrap;
}
.container h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #ffffff;
}

.container button{
    background: #152238;
    border: none;
    transition: 1s;
}

.container button:hover{
    background: #243b61;

}
.container-informacion h4{
    color: white;
}
.container-form{
    background-color: #E86B38;
    height: 70vh;
}
.info-text{
    margin-bottom: 10px;
    color: #152238;
}
.social-icons a {
    margin-right: 10px;
    color: #243b61;
    font-size: 1.5em;
    text-decoration: none;
}

.social-icons a:hover {
    color: #007bff;
}
