.cuadros {
    margin-top: 0px;
    padding: 20px 0;
    font-family: "Roboto Condensed";
    color: white;
    text-align: center;
}

.cuadros-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.cuadros-container h2 {
    color: #1A2A4B;
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: left;
    position: relative;
    padding-bottom: 0.5rem;
}

.cuadros-container h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 103%;
    height: 3px;
    background-color: #1A2A4B;
}

/* Estilo de cada cuadro */
.cuadro {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    color: #152238;
    border: 1px solid black;
    transition: transform 0.3s ease;
}

.cuadro:hover {
    transform: scale(1.05);
}

.cuadro img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid black;
}

.cuadro-info {
    padding: 15px;
    text-align: center;
}

.cuadro-info h3 {
    font-size: 1.2em;
    font-weight: 400;
    margin: 10px 0;
}

.cuadro-info p {
    font-size: 0.9em;
    font-weight: 300;
    color: #555;
}

.cuadro-info button {
    background-color: #152238;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cuadro-info button:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}